<div class="card">
  <form [formGroup]="entryForm">
    <div class="entryItem">
      <label class="label">URL</label>
      {{url}}
    </div>
    <div class="entryItem">
      <label class="label" for="ecl">ECL</label>
      <input id="ecl" formControlName="ecl" type="text" />
    </div>
    <div class="entryItem">
      <label class="label" for="lang">Språk</label>
      <input id="lang" formControlName="lang" type="text" />
    </div>
    <div class="entryItem">
      <label class="label" for="search">Sök</label>
      <input id="search" formControlName="search" type="text" />
    </div>
  </form>
  <ul class="list">
    <li class="listItem" *ngFor="let r of results">{{r.display}}</li>
  </ul>
</div>
